.travelItem {
    text-align: left;
    display: flex;
    align-items: flex-start;
    font-size: calc(10px + 2vmin);
    padding: 50px;
}

.travelItem__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-right: 30px;
}

.travelItem__left-block_avatar {
    position: relative;
    top: -25px;
}

.travelItem__left-block_repost-arrows {
    border: none;
    outline: none;
    background-color: white;
}

.travelItem__left-block_repost-arrows:hover {
    outline: none;
    background-color: red;
}

.travelItem__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.travelItem__header {
    display: flex;
    flex-direction: column;
}

.travelItem__header_text {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.travelItem__header_text_status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
    font-size: medium;
}

.travelItem__header_text_status_userName {
    font-weight: bold;
}

.travelItem__header_text_status_check-mark {
    margin-left: 5px;
    margin-right: 5px;
}

.travelItem__header_text_repostDate {
    color: #868E96;
    font-weight: bold;
}

.travelItem__header_text_content {
    margin: 0;
}

.travelItem__header_content-pic {
    padding-top: 15px;
}

.travelItem__buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-top: 20px;
}

.travelItem__buttons-like, .travelItem__buttons-repost, .travelItem__buttons-share-pic {
    border: none;
    outline: none;
    background-color: white;
    color: #868E96;
    font-weight: bold;
}

.travelItem__buttons-like:hover, .travelItem__buttons-repost:hover, .travelItem__buttons-share-pic:hover {
    outline: none;
    background-color: red;
}