.forgotPassword__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.forgotPassword_header {
    margin: 0;
}

.forgotPassword_text {
    font-weight: bold;
    margin-top: 35px;
}

.forgotPassword_input {
    border: 3px solid #CED4DA;
    border-radius: 35px;
    outline: none;
    height: 40px;
    width: 300px;
}

.forgotPassword_button {
    color: white;
    font-weight: bold;
    border: none;
    background-color: #03A9F4;
    border-radius: 35px;
    outline: none;
    height: 50px;
    width: 310px;
    margin-top: 25px;
}